body{
  background-color: #ffffff;
  min-width: 767px;
  overflow-x: hidden;
}

.glyphicon{
  padding-right: 10px;
}

.container-fluid {
  margin-right: 30px;
  margin-left: 30px;
}

@media(min-width:767px) {
  .navbar {
    padding: 3.5px 0;
    border-bottom: 1px solid #ccc
  }
}

.selectcourses {
  width: 80%;
  margin: 0 auto;
}

label, input {
  /* in order to define widths */
  display: inline-block;
}

label {
  /* positions the label text beside the input */
  text-align: left;
}

label + input {
  /* large margin-right to force the next element to the new-line
  and margin-left to create a gutter between the label and input */
  margin: 0 30% 0 4%;
}

/* only the submit button is matched by this selector,
but to be sure you could use an id or class for that button */
input + input {
  float: left;
}


@media(max-width:767px) {
  .col-xs-9{
    width: 100%;
  }
}

.group {
/*  background-color:darkorange;*/
  height: 90%;
  margin-bottom: 10%;
  padding: 4% 2% 2% 2%;
}
.subgroup {
/*  background-color: yellowgreen;*/
  width: 95%;
  margin-left: 5%;
  padding: 2% 1% 1% 1%;
}

.btn{
  margin-top: 20px;
}

.panel-body>h3{
  margin-bottom: 20px;
}

#sidebar.affix {
  top: 20px;
}
/* sidebar */
.bs-docs-sidebar {
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
  color: #999;
  border-left: 4px solid transparent;
  padding: 4px 20px;
  font-size: 18px !important;
  font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 14px !important;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>li>a:hover,
.bs-docs-sidebar .nav>li>a:focus {
  color: #EE6A56;
  text-decoration: none;
  background-color: transparent;
  border-left-color: #EE6A56;
}
/* all active links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
  font-weight: 700;
  padding-left: 10px;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a,
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
  font-weight: 500;
  margin-left: 20px;
  padding-left: 10px;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
  display: none;
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
  display: block;
}

.dummy{
  visibility: hidden;
}
