body {
  background-color: #ffffff;
  min-width: 767px;
  font-family: monospace !importnat;
}

table {
  font-size: 20px !important;
}

.table th {
  color: #000000;
  padding: 10px 8px;
  background-color: #ecf0f1 !important;
  border-top: 2px solid #000000 !important;
  border-bottom: 2px solid #000000 !important;
}

.input-group-addon {
  background-color: #ecf0f1 !important;
  color: #000000;
}

.done{
  float: right;
  padding: 20px 20px 20px 20px;
}

.trip-block{
  font-size: 16px; 
  padding: 2px 4px 2px 4px !important;
}

@media print{
  button{
    display: none !important;
  }
}